<ul class="nav bg-dark sticky-top">
    <li class="nav-item">
      <a class="nav-link text-light" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="/item">Add Expense</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/allItems">All Expenses</a>
      </li>
</ul>